@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Roboto');

body {
	color: #337BFF;
	text-align: center;
	font-size: 30px;
	line-height: 1.5em;
	font-family: 'Roboto', sans-serif;

 }

h1 {
	text-align: center;
	font-style: bold;
	font-size: 55px;
	color: #337BFF;
	font-family: 'Bree serif', serif;

}

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

nav a:hover {
   background-color: gray;

}

article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;

}

#two_column {
	background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: #E55B88;
	border: 1 px solid black;
	padding: 20px;
	float: right;
	width: 62%;

}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;

    }

img {
width: 600px;
image-rendering: center;

}

ul {
	list-style: none;

}

#slogan { 
	text-align: center;
	font-size: 30px;

 }

footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}




