@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Roboto');

body {
	color: #678BFF;
	text-align: center;
	font-size: 2.5em;
	line-height: 1.5em;
	font-family: 'Roboto', sans-serif;

 }

h1 {
	text-align: center;
	font-style: bold;
	font-size: 2.8em;
	color: #678BFF;
	font-family: 'Bree serif', serif;

}

header {
    background-color: #FEFFD0;
    padding: 20px;
}

nav {
    background-color: #FEFFD0;
    padding: 40px;
    font-size: .8em;
    letter-spacing: 2px;
    word-spacing: 40px;
  
}

nav a:hover {
   background-color: gray;

}

article {
    background-color: #FEFFD0;
    padding: 20px;

}

#three_column {
	background-color: #FEFFD0;
	color: #678BFF;
    padding: 20px;
}

#left {
	background-color: #FEFFD0;
	color: #678BFF;
	padding: 20px;
	float: left;
	width: 30%;
}

#center {
	background-color: #FEFFD0;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: #FEFFD0;
	padding: 20px;
	float: left;
	width: 30%;

}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;

    }

img {
width: 80%;
image-rendering: center;

}

img #thailand {
	width: 80%
	image-rendering: center;
}

#slogan { 
	text-align: center;
	font-size: 30px;

 }

footer {
    background-color: #FEFFD0;
    padding: 20px;
}

@media screen only and (max-width: 1076px) and (min-width: 525px){
	img {
width: 80%;
image-rendering: center;

}


